extends ./layout/index

block contenido
    main.container.mt-5     
        .row 
            .col-md-5
              img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7 
                h1 #{pagina}
                Blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed dolor eget libero sagittis ultricies eget non lacus. Ut quam ex, tincidunt ac neque convallis, finibus sodales sapien. Quisque vel nibh quis arcu luctus dictum. Nunc lacinia nisi sed felis tristique, a consectetur nibh sodales. Etiam dolor diam, cursus sed lorem eu, sodales semper nibh. Integer malesuada non velit id feugiat. Aenean cursus nec odio nec vestibulum. In at commodo metus. Duis ut nisl lacinia, maximus risus ut, ultrices orci.

                p Fusce in sem convallis, pulvinar eros eu, congue metus. In dictum quam urna, ac sodales dui euismod lobortis. Fusce vel pharetra lectus. Pellentesque mi est, imperdiet sed sem sit amet, molestie facilisis enim. Vivamus in justo laoreet arcu fermentum varius. Vestibulum maximus dui in sem lobortis, at luctus nisl sagittis. In sit amet suscipit velit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

                p Morbi lectus lacus, aliquet vitae rhoncus ut, sollicitudin ac dui. Donec commodo in lectus non tincidunt. Duis congue ipsum ac faucibus blandit. Aenean vulputate magna ullamcorper tellus consequat, vitae auctor est egestas. Sed magna nisl, feugiat in vulputate sed, viverra sit amet ligula. Maecenas fringilla vehicula felis, vitae rhoncus ligula aliquam ut.

    .lista-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p feugiat in vulputate sed, viverra sit amet ligula. Maecenas fringilla vehicula felis, vitae rhoncus ligula aliquam ut.

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p feugiat in vulputate sed, viverra sit amet ligula. Maecenas fringilla vehicula felis, vitae rhoncus ligula aliquam ut.

                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Mejores precios 
                    p feugiat in vulputate sed, viverra sit amet ligula. Maecenas fringilla vehicula felis, vitae rhoncus ligula aliquam ut.